<table class="amount-table" *ngIf="_zeroEx.display == 'eth'">
    <thead>
        <tr>
            <th>Token</th>
            <th>Wallet</th>
            <th>Market</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{token.name}}</td>
            <ng-container *ngIf="walletAmount === null || deltaAmount === null; else load">
                <td>???</td>
                <td>???</td>
            </ng-container>
            <ng-template #load>
                <td>{{walletAmount | number:'1.3-3':'en'}}</td>

                <td>{{truncateNumber(deltaAmount) | number:'1.3-3':'en'}}</td>

            </ng-template>
        </tr>
    </tbody>
</table>

<table class="amount-table" *ngIf="_zeroEx.display == 'weth'">
    <thead>
        <tr>
            <th>Token</th>
            <th>Wallet</th>
            <th>Allowed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td *ngIf="token.tokenAddress == _zeroEx.contractAddresses.etherToken">ETH - {{token.name}}</td>
            <td *ngIf="token.tokenAddress != _zeroEx.contractAddresses.etherToken">{{token.name}}</td>
            <ng-container *ngIf="walletAmount === null || deltaAmount === null; else load">
                <td>???</td>
                <td>???</td>
            </ng-container>
            <ng-template #load>
                <td *ngIf="token.tokenAddress == _zeroEx.contractAddresses.etherToken">{{accountAmount | number:'1.3-3':'en'}}</td>
                <td *ngIf="token.tokenAddress != _zeroEx.contractAddresses.etherToken">{{walletAmount | number:'1.3-3':'en'}}</td>

                <td *ngIf="token.allowed != 0 && token.tokenAddress != _zeroEx.contractAddresses.etherToken"><img src='~icons/correct_icon.svg'></td>
                <td *ngIf="token.allowed == 0 && token.tokenAddress != _zeroEx.contractAddresses.etherToken"><img src='~icons/error_icon.svg'></td>
                <td *ngIf="token.tokenAddress == _zeroEx.contractAddresses.etherToken">{{truncateNumber(walletAmount) | number:'1.3-3':'en'}}</td>
            </ng-template>
        </tr>
    </tbody>
</table>