<div class="dist clear">
    <button [ngClass]="(action == 'deposit') ? 'btn-solid':'btn-inverse'" (click)="activeButton('deposit')">Deposit</button>
    <button class="extra" [ngClass]="(action == 'withdraw') ? 'btn-solid':'btn-inverse'" (click)="activeButton('withdraw')">Withdraw</button>
</div>
<div>
    <app-market-amounts [token]="_LSCXmarket.token" [walletAmount]="_LSCXmarket.token?.balance" [deltaAmount]="_LSCXmarket.marketBalances.token" class="clear dist block"></app-market-amounts>
    <app-action-amounts [action]="action" [token]="_LSCXmarket.token" [walletAmount]="_LSCXmarket.token?.balance" [deltaAmount]="_LSCXmarket.marketBalances.token" class="clear dist block"></app-action-amounts>
    <app-market-amounts [token]="_LSCXmarket.config.tokens[0]" [walletAmount]="_account.account.balance" [deltaAmount]="_LSCXmarket.marketBalances.eth" class="clear dist block"></app-market-amounts>
    <app-action-amounts [action]="action" [token]="_LSCXmarket.config.tokens[0]" [walletAmount]="_account.account.balance" [deltaAmount]="_LSCXmarket.marketBalances.eth" class="clear dist block"></app-action-amounts>
</div>

<p>Make sure <a class="pointer" (click)="openExternal()">{{_LSCXmarket.token?.name}}</a> is the token you actually want to trade. Multiple tokens can share the same name.</p>