<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <base href="./">
    <title>Lescovex</title>
    <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.themeURL %>">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.link %>">
</head>

<body>
    <ion-app></ion-app>
</body>

</html>