<h1 style="text-align: right; font-weight: normal">Balance: BTC {{_account.account.balance/100000000 | number:'1.2-8':'en'}} </h1>
<div *ngIf="this._account.account.address.length > 0">

    <div>
        <label class="title" for="receiverAddr">Receiver address:</label>
        <input class="block" required id="receiverAddr" type="text" value="" name="receiverAddr" [(ngModel)]="receiverAddr" #rec="ngModel" />
        <p *ngIf="errors.receiverAddr !== ''" class="error">{{errors.receiver}}</p>
    </div>
    <div class="clear">
        <label class="title" for="amount">Amount:</label>
        <input class="block" [ngClass]="{'error': errors.amount !== ''}" required id="amount" type="number" min="0.00000001" value="0.0" step="any" placeholder="Amount" name="amount" [(ngModel)]="amount" />
        <p *ngIf="errors.amount !== ''" class="error">{{errors.amount}}</p>
        <p *ngIf="amountErr" class="error">{{amountErr}}</p>
    </div>

    <div class="clear">
        <button type="button" class="btn-solid right extra" (click)="createBitcoinTx(senderAddr, receiverAddr, amount, password)"> Send </button>
    </div>
</div>