<nav class="flex-row">
    <a routerLink="market-wallet" routerLinkActive="active" #market="routerLinkActive">
        <div>
            <span>
                <img class="top-nav-img" *ngIf="market.isActive" src='~icons/send_icon.svg'>
                <img class="top-nav-img" *ngIf="!market.isActive" src='~icons/send_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Market Wallet</p>
        </div>
    </a>
    <a routerLink="buy-sell" routerLinkActive="active" #buySell="routerLinkActive">
        <div>
            <span>
                <img class="top-nav-img" *ngIf="buySell.isActive" src='~icons/newcontract_icon.svg'>
                <img class="top-nav-img" *ngIf="!buySell.isActive" src='~icons/newcontract_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Buy/Sell</p>
        </div>
    </a>
    <a routerLink="history" routerLinkActive="active" #hist="routerLinkActive">
        <div>
            <span>
                <img class="top-nav-img" *ngIf="hist.isActive" src='~icons/history_icon.svg'>
                <img class="top-nav-img" *ngIf="!hist.isActive" src='~icons/history_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Order Book</p>
        </div>
    </a>



</nav>
<div class="content scrollable-content flex-inside" [ngStyle]="{'max-height.px': maxHeight()}" id="market">
    <div>
        <md-slide-toggle class="right" (click)="changeDisplay()"> <span [ngClass]="(display == 'weth') ? 'lscx_color bold':'bold grey'">WETH</span> / <span [ngClass]="(display == 'eth') ? 'lscx_color bold':'bold grey'">ETH</span></md-slide-toggle>
    </div>
    <p *ngIf="!_account.account.hasOwnProperty('address'); else content" class="text-center">Select an ETH account</p>

    <ng-template #content>
        <div>
            <div class="half left" class="market-token" *ngIf="display == 'eth'">
                <p class="title inlineBlock" for="contract">Token <a (click)="toggleList()">{{_LSCXmarket.token?.name}} <img src="~icons/select_icon.svg"></a> </p>
                <p class="title inline extra"><a class="small pointer" (click)="openExternal()">{{_LSCXmarket.token?.addr}}</a></p>
                <app-tokens-market-list *ngIf="showList" (show)="onSelect($event)" id="token-list" class="select-list scrollbar"></app-tokens-market-list>
                <div *ngIf="showList" class="overlay" (click)="toggleShow()"></div>
            </div>
            <div class="half left" class="market-token" *ngIf="display == 'weth' && _zeroEx.asset_pairs.length > 0">
                <p class="title inlineBlock" for="contract">Pair <a (click)="toggleList()">{{_zeroEx.token?.reverseName}} <img src="~icons/select_icon.svg"></a> </p>
                <div class="title inline">
                    <p class="small inlineBlock pointer" (click)="openExternal()"> {{_zeroEx.token?.assetDataA.tokenAddress}} - {{_zeroEx.token?.assetDataB.tokenAddress}}</p>
                </div>

                <app-tokens-market-list *ngIf="showList" (show)="onSelect($event)" id="token-list" class="select-list scrollbar"></app-tokens-market-list>
                <div *ngIf="showList" class="overlay" (click)="toggleShow()"></div>
            </div>
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="display == 'weth' && _zeroEx.asset_pairs.length == 0">
            <p>This service is not available on this network</p>
        </div>
    </ng-template>
</div>