<div>
    <h1 *ngIf="data=='init'" class="text-center">Wellcome to Lescovex DEX App<img class="right" src="~icons/cross_icon.svg" (click)="closeDialog()"></h1>
    <h1 *ngIf="data!='init'" class="text-center"><img src='~icons/error_icon.svg'>Error ApiKeys<img class="right" src="~icons/cross_icon.svg" (click)="closeDialog()"></h1>
</div>

<div class="text-center">
    <p class="dist">To use Lescovex DEX app you must insert your apikeys</p>
</div>
<div class="dist text-center">
    <button class="btn-solid" (click)="closeDialog()">OK</button>
</div>