<div>
    <h1 style="text-align: center">Confirm transaction <img class="right" src="~icons/cross_icon.svg" (click)="closeDialog()"></h1> 
</div>
<div class="margin">
    <p class="black dist">To</p>
    <p>{{data.to}}</p>

    <div class="flex-row dist">
        <div style="flex:1">
            <p class="black">Amount</p>
            <p *ngIf="data.action == 'send'">ETH {{data.amount}}</p>
            <p *ngIf="data.action != 'send'">{{data.token}} {{data.amount}}</p>
        </div>
        <div style="flex:1">
            <p class="black">Fees</p>
            <p>ETH {{(data.fees | converter:'fromWei':'ether') | number:'1.2-8':'en'}}</p>
        </div>
        <div style="flex:1"> 
            <p class="black">Total</p>
            <p>ETH {{(data.total | converter:'fromWei':'ether') | number:'1.2-8':'en'}}</p>
        </div>
    </div>
</div>

<div class="dist">
    <label class="title block">Password*</label>
    <input class="half" type="password" required id="pass" name="pass" [(ngModel)]="pass"/>
    <p class="italic">Type your wallet password to continue.</p>
</div>
<div class="buttons">
    <button class="btn-black half left" (click)="closeDialog()">Cancel</button>
    <button class="btn-inverse half right" (click)="sendTx(pass)">Send</button>
</div>