<div>
    <h1 class="text-center">Add token to LSCX market<img class="right" src="~icons/cross_icon.svg" (click)="closeDialog()"></h1>
</div>
<div class="text-center dist">
    <p *ngIf="data.deploy" class="dist black">Your contract {{this.data.contract.name}} ({{this.data.contract.symbol}}) has been deployed</p>
    <p class="black">You can add your token to the market</p>  
    <p>Fees: {{(data.fees | converter:'fromWei':'ether') | number:'1.2-8':'en'}}Eth</p>
</div>
<form class="dist" (ngSubmit)="confirm(form)" #form="ngForm">
        <div class="buttons clear">
        <button type="button" class="btn-black half left" (click)="closeDialog()">Back</button>
        <button type="submit" class="btn-inverse half right" >Add</button>
    </div>
</form>

