<div>
    <label class="title" for="contractAddr">Token Contract Address</label>
    <input class="block" required id="contractAddr" type="text" value=""  name="contractAddr" [(ngModel)]="contractAddr" #contract="ngModel"/>
    <!--<p *ngIf="errors.receiver !== ''" class="error">{{errors.receiver}}</p>-->
</div>
<div class="clear">
    <label class="title block" for="symbol">Token symbol</label>
    <input class="half" required id="symbol" type="text" placeholder="TOKEN" name="symbol" [(ngModel)]="symbol"/>
    <!--<p *ngIf="errors.symbol !== ''" class="error">{{errors.symbol}}</p>-->
</div>
<div class="clear">
    <label class="title block" for="decimals">Decimals precision</label>
    <input class="half" required id="decimals" type="number" min="0" max="18" placeholder="18" name="decimals" [(ngModel)]="decimals"/>
        <!--<p *ngIf="errors.symbol !== ''" class="error">{{errors.symbol}}</p>-->
</div>
<div class="inline right">
    <button type="button" class="btn-black" (click)="cancel()" > Reset </button>
    <button type="button" class="btn-inverse extra" (click)="addToken()" > Add </button>
</div>
