<div class="scroll scrollbar auto-h">
    <ng-container *ngFor="let tx of items, index as  i">
        <p class="title" *ngIf="i==0 ||(i>0 && tx.date != items[i-1].date)">{{tx.date}}</p>
        <ul class="list round" *ngIf="i==0 ||(i>0 && tx.date != items[i-1].date)">
            <ng-container *ngFor="let transaction of items, index as j">
                <li *ngIf="(i==0  || (i>0 && tx.date != items[i-1].date )) && transaction.date == tx.date" [ngClass]="((j+1)%2 == 0) ? 'even' : 'odd'" class="pointer" (click)="openExternal(transaction)">
                    <a class="pointer" *ngIf="transaction.blockNumber!= null">
                        <span class="pointer" *ngIf="transaction.isError > 0"><img src="~icons/failed_icon.svg"></span>
                        <span class="pointer" *ngIf="transaction.from == address.toLowerCase() && transaction.to == address.toLowerCase(); else normalTx"><img src="~icons/self_icon.svg"> ETH self</span>
                        <ng-template #normalTx>
                            <span class="pointer" *ngIf="transaction.from == address.toLowerCase()"><img src="~icons/send_icon.svg"> ETH sent</span>
                            <span class="pointer" *ngIf="transaction.to == address.toLowerCase()"><img src="~icons/receive_icon.svg"> ETH received</span>
                        </ng-template>
                        <span class="right pointer" [ngClass]="(transaction.from == address.toLowerCase())?'red':'green'">ETH {{transaction.value | converter:'fromWei':'ether'}}</span>
                        <p class="text-right pending" [ngClass]="{'hidden': transaction.from != address.toLowerCase()}">Total gas: ({{(transaction.gasUsed * transaction.gasPrice) | converter:'fromWei':'ether'}})</p>
                    </a>
                    <a *ngIf="transaction.blockNumber==null" class="pending pointer" (click)="openExternal(transaction)">
                        <span class="pointer" *ngIf="transaction.from == address.toLowerCase() && transaction.to == address.toLowerCase(); else normalTx"><img src="~icons/self_inactive_icon.svg"> ETH self</span>
                        <ng-template #normalTx>
                            <span class="pointer" *ngIf="transaction.from == address.toLowerCase()"><img src="~icons/send_inactive_icon.svg"> ETH sent</span>
                            <span class="pointer" *ngIf="transaction.to == address.toLowerCase()"><img src="~icons/receive_inactive_icon.svg"> ETH received</span>
                        </ng-template>
                         (Pending...)
                        <span class="right pointer"> ETH {{transaction.value | converter:'fromWei':'ether'}}</span>
                    </a>
                </li>
            </ng-container>
        </ul>
    </ng-container>
</div>

<app-paginator (goPage)="goToPage($event)" [currentPage]="page" [perPage]="limit" [count]="totalPages"></app-paginator>