<div>
    <h1 class="text-center">Import account<img class="right" src="~icons/cross_icon.svg" (click)="closeDialog()"></h1>
</div>
<div class="radioDiv">
    <input type="radio" id="importTypeK" name="importType" value="keystore" [(ngModel)]="importType" />
    <label for="importTypeK" class="black"><span><span></span></span>Keystore</label>
    <input type="radio" id="importTypeP" name="importType" value="privateKey" [(ngModel)]="importType" />
    <label for="importTypeP" class="black"><span><span></span></span>Private key</label>
</div>
<div>
    <label class="title" for="nameAccount">Account name</label>
    <input class="block" required id="nameAccount" type="text" value="" name="nameAccount" placeholder="Type account name" [(ngModel)]="nameAccount" />
</div>
<div *ngIf="importType=='keystore'; then keystore else privateKey"></div>
<ng-template #keystore>
    <div>
        <label class="title" for="json">JSON file</label>
        <textarea class="block scrollbar" id="json" required rows="7" [ngClass]="{'error': !checkInput(input)&& (jsonF.dirty || jsonF.touched || submited)}" placeholder="Paste your json keystore here" [(ngModel)]="input" #jsonF="ngModel"></textarea>
        <p [ngClass]="{'hidden': !(!checkInput(input)&& (jsonF.dirty || jsonF.touched || submited))} " class="error">This field is required</p>
    </div>
</ng-template>
<ng-template #privateKey>
    <div>
        <label class="title" for="json">Private key</label>
        <textarea class="block scrollbar" id="json" required rows="2" [ngClass]="{'error': !checkInput(input)&& (privKey.dirty || privKey.touched || submited)}" placeholder="Paste your private key string here" [(ngModel)]="input" #privKey="ngModel"></textarea>
        <p [ngClass]="{'hidden': !(!checkInput(input) && (privKey.dirty || privKey.touched || submited))} " class="error">This field is required</p>
    </div>
</ng-template>
<div>
    <div class="half left">
        <label class="title" for="pass">Set password</label>
        <input required id="pass" class="block" type="password" value="" name="pass" [ngClass]="{'error': (pass.invalid && (pass.dirty || pass.touched || submited))}" [(ngModel)]="password" #pass="ngModel" />
        <p *ngIf="passErr == true" class="title red">Password field is required</p>
    </div>
    <div class="half right">
        <label class="title" for="pass2">Repeat password</label>
        <input required id="pass2" class="block" type="password" [ngClass]="{'error': (pass2.invalid && submited) || (!checkPass(password, password2)&&(pass2.touched || !pass2.pristine))}" value="" name="pass2" [(ngModel)]="password2" #pass2="ngModel" />
        <p *ngIf="pass2Err == true" class="title red">Repeat password field is required</p>
    </div>
    <div class="clear ">
        <p *ngIf="checkPassErr == true" class="title red">These passwords don't match, try it again</p>

    </div>
</div>
<div class="clear buttons">
    <button class="btn-black half left" (click)="closeDialog()">Cancel</button>
    <button class="btn-black half right" id="create" (click)="importAccount (nameAccount,input, password, password2)">Import account</button>
</div>