<div id="account">
    <div *ngIf="_account?.account" mdTooltip="{{_account.account.name}}" mdTooltipPosition="right">
        <p >{{_account.account.name}}</p>
    </div>
</div>
<button class="link" routerLink="/wallet" routerLinkActive="active" #wallet="routerLinkActive">
    <div>
        <img *ngIf="wallet.isActive == true" src="~icons/wallet_icon.svg" alt="wallet_icon">
        <img *ngIf="wallet.isActive == false" src="~icons/wallet_inactive_icon.svg" alt="wallet_icon">
    </div>
    <span class="title-button-left">Wallet</span>
</button>

<button class="link" routerLink="/tokens" routerLinkActive="active" #tokens="routerLinkActive">
    <div>
        <img *ngIf="tokens.isActive" src="~icons/token_icon.svg" alt="settings_icon">
        <img *ngIf="!tokens.isActive" src="~icons/token_icon.svg" alt="settings_icon">
    </div>
    <span class="title-button-left">Tokens</span>
</button>

<button class="link" routerLink="/contracts" routerLinkActive="active" #contracts="routerLinkActive">
    <div>
        <img *ngIf="contracts.isActive" src="~icons/contracts_icon.svg" alt="contracts_icon">
        <img *ngIf="!contracts.isActive" src="~icons/contracts_inactive_icon.svg" alt="contracts_icon">
    </div>
    <span class="title-button-left">Contracts</span>
</button>
<button class="link" routerLink="/market" routerLinkActive="active" #market="routerLinkActive">
    <div>
        <img *ngIf="market.isActive" src="~icons/market_icon.svg" alt="settings_icon">
        <img *ngIf="!market.isActive" src="~icons/market_inactive_icon.svg" alt="settings_icon">
    </div>
    <span class="title-button-left">Market</span>
</button>

<button class="link" routerLink="/general-settings" routerLinkActive="active" #settings="routerLinkActive">
    <div>
        <img *ngIf="settings.isActive" src="~icons/generalsettings_icon.svg" alt="settings_icon">
        <img *ngIf="!settings.isActive" src="~icons/generalsettings_inactive_icon.svg" alt="settings_icon">        
    </div>
    <span class="title-button-left">General Settings</span>
</button>

<div class="bottom" *ngIf="route.indexOf('/general-settings')==-1">
    <button *ngIf="_account.account.hasOwnProperty('address')" class="btn-solid" (click)="openSelectAccount()">My accounts</button>
    <button class="btn-solid" (click)="openAddAccount()">Add account</button>
</div>

