<button class="link" routerLink="/market" [disabled]="_web3. infuraKey == '' || _scan.apikey == ''" routerLinkActive="active" #market="routerLinkActive">
    <div>
        <img *ngIf="market.isActive" src="~icons/market_icon.svg" alt="settings_icon">
        <img *ngIf="!market.isActive" src="~icons/market_inactive_icon.svg" alt="settings_icon">
    </div>
    <span class="title-button-left">Market</span>
</button>
<button class="link" routerLink="/wallet" [disabled]="_web3. infuraKey == '' || _scan.apikey == ''" routerLinkActive="active" #wallet="routerLinkActive">
    <div>
        <img *ngIf="wallet.isActive == true" src="~icons/wallet_icon.svg" alt="wallet_icon">
        <img *ngIf="wallet.isActive == false" src="~icons/wallet_inactive_icon.svg" alt="wallet_icon">
    </div>
    <span class="title-button-left">Ethereum Wallet</span>
</button>
<button class="link" routerLink="/tokens" [disabled]="_web3. infuraKey == '' ||_scan.apikey == ''" routerLinkActive="active" #tokens="routerLinkActive">
    <div>
        <img *ngIf="tokens.isActive" src="~icons/token_icon.svg" alt="settings_icon">
        <img *ngIf="!tokens.isActive" src="~icons/token_icon_inactive.svg" alt="settings_icon">
    </div>
    <span class="title-button-left">Tokens</span>
</button>
<button class="link" routerLink="/holders" [disabled]="_web3. infuraKey == '' ||_scan.apikey == ''" routerLinkActive="active" #holders="routerLinkActive">
    <div>
        <img *ngIf="holders.isActive" src="~icons/token_generaltab_activeNav.svg" alt="settings_icon">
        <img *ngIf="!holders.isActive" src="~icons/token_generaltab_inactive_icon.1.svg" alt="settings_icon">
    </div>
    <span class="title-button-left">LSCX Holders</span>
</button>
<button class="link" routerLink="/contracts" [disabled]="_web3. infuraKey == '' || _scan.apikey == ''" routerLinkActive="active" #contracts="routerLinkActive">
    <div>
        <img *ngIf="contracts.isActive" src="~icons/contracts_icon.svg" alt="contracts_icon">
        <img *ngIf="!contracts.isActive" src="~icons/contracts_inactive_icon.svg" alt="contracts_icon">
    </div>
    <span class="title-button-left">Contracts</span>
</button>
<!--
    <button class="link" routerLink="/btcwallet" [disabled]="_web3. infuraKey == '' || _scan.apikey == ''" routerLinkActive="active" #btcwallet="routerLinkActive">
        <div>
            <img *ngIf="btcwallet.isActive == true" src="~icons/wallet_icon.svg" alt="wallet_icon">
            <img *ngIf="btcwallet.isActive == false" src="~icons/wallet_inactive_icon.svg" alt="wallet_icon">
        </div>
        <span class="title-button-left">Bitcoin Wallet</span>
    </button>
-->
<button class="link" routerLink="/general-settings" [disabled]="_web3. infuraKey == '' || _scan.apikey == ''" routerLinkActive="active" #settings="routerLinkActive">
    <div>
        <img *ngIf="settings.isActive" src="~icons/generalsettings_icon.svg" alt="settings_icon">
        <img *ngIf="!settings.isActive" src="~icons/generalsettings_inactive_icon.svg" alt="settings_icon">
    </div>
    <span class="title-button-left">General Settings</span>
</button>

<div class="bottom" *ngIf="_web3. infuraKey != '' && _scan.apikey != ''">
    <button *ngIf="_account.account.hasOwnProperty('address')" class="btn-solid" (click)="openSelectAccount()">My accounts</button>
    <button class="btn-solid" (click)="openAddAccount()">Add account</button>
</div>