<div>
    <h1 class="text-center">Select account<img class="right pointer" src="~icons/cross_icon.svg" (click)="closeDialog()"></h1>
</div>

<div class="extra radioDiv">
    <input type="radio" id="eth" name="sendType" value="Ethereum" [(ngModel)]="filts" />
    <label for="eth" class="black"><span><span></span></span>Ethereum</label>
</div>
<div *ngIf="filts == 'Ethereum'">
    <div id="selectList" class="round scroll scrollbar">
        <ul>
            <li *ngFor="let account of _wallet.wallet" [ngClass]="(selectedAcc.address == account.address)? 'selected pointer' : 'pointer'" (click)="changeSelected(account)">
                <p class="title">{{account.name}}</p>
                <p>{{account.address}}</p>
            </li>
        </ul>
    </div>
    <div class="buttons">
        <button class="btn-black half" (click)="closeDialog()">Back</button>
        <button class="btn btn-inverse half right" (click)="selectAccount()">Select account</button>
    </div>
</div>
