<div class="dist" *ngIf="_zeroEx.display == 'eth'">
    <div *ngIf="_LSCXmarket.token.balance != 0" class="half">
        <span class="title">Token Balance </span>
        <span>{{_LSCXmarket.token.balance}}</span>
    </div>
</div>
<div class="dist" *ngIf="_zeroEx.display == 'weth'">
    <div class="half" *ngIf="action == 'buy'">
        <span class="title">Token Balance </span>
        <span>{{_zeroEx.token.assetDataB.balance | number:'1.3-3':'en'}} {{_zeroEx.token.assetDataB.name}}</span>
    </div>
    <div class="half" *ngIf="action == 'sell'">
        <span class="title">Token Balance </span>
        <span>{{_zeroEx.token.assetDataA.balance | number:'1.3-3':'en'}} {{_zeroEx.token.assetDataA.name}}</span>
    </div>
</div>
<div class="dist">
    <div class="half left">
        <button [ngClass]="(action == 'buy') ? 'btn-solid':'btn-inverse'" (click)="activeButton('buy')">Buy order</button>
        <button class="extra" [ngClass]="(action == 'sell') ? 'btn-solid':'btn-inverse'" (click)="activeButton('sell')">Sell order</button>

    </div>
    <div class="half right best-prices" *ngIf="_zeroEx.display == 'eth'">
        <p class="half left">
            <span class="title">Best Sell: </span>
            <span *ngIf="_LSCXmarket.state.orders.sells.length>0" class="red">{{bestSell | number:'1.3-3':'en'}}</span>
            <span *ngIf="_LSCXmarket.state.orders.sells.length==0">----</span>
        </p>
        <p class="half right">
            <span class="black">Best Buy: </span>
            <span *ngIf="_LSCXmarket.state.orders.buys.length>0" class="green">{{bestBuy | number:'1.3-3':'en'}}</span>
            <span *ngIf="_LSCXmarket.state.orders.buys.length==0">----</span>
        </p>
    </div>
    <div class="half right best-prices" *ngIf="_zeroEx.display == 'weth'">
        <p class="half left">
            <span class="title">Best Sell: </span>
            <span *ngIf="_zeroEx.state.orders.sells.length>0" class="red">{{bestSellWeth | number:'1.3-3':'en'}}</span>
            <span *ngIf="_zeroEx.state.orders.sells.length==0">----</span>
        </p>
        <p class="half right">
            <span class="black">Best Buy: </span>
            <span *ngIf="_zeroEx.state.orders.buys.length>0" class="green">{{bestBuyWeth | number:'1.3-3':'en'}}</span>
            <span *ngIf="_zeroEx.state.orders.buys.length==0">----</span>
        </p>
    </div>
</div>
<div class="clear"></div>

<form (ngSubmit)="onSubmit(form)" #form="ngForm" class="clear dist" *ngIf="_zeroEx.display == 'eth'">
    <div class="dist">
        <div class="half left">
            <label class="title" for="amount">Amount to {{action}}</label>
            <div class="input-container" [ngClass]="{'error': submited  && (amount.invalid || eth.invalid)}">
                <input type="number" [placeholder]="0.+('0').repeat(_LSCXmarket.token.decimal)" step="any" name="amount" (input)="total()" [(ngModel)]="f.amount" ngModel required #amount="ngModel" />
                <span class="right">{{_LSCXmarket.token.name}}</span>
            </div>
            <p class="error" [ngClass]="{'hidden':!(submited && (amount.invalid || eth.invalid))}">
                <span *ngIf="amount.errors?.required">This field is required</span>
                <span *ngIf="!amount.errors?.required && eth.errors?.customMin">The minimum order is 0.001</span>
            </p>
        </div>
        <div class="half right">
            <label class="title" for="price">Price</label>
            <div class="input-container" [ngClass]="{'error': submited && (price.invalid || eth.invalid) }">
                <input type="number" value="{{_LSCXmarket.lastPrice}}" step="any" name="price" (input)="total()" [(ngModel)]="f.price" ngModel required #price="ngModel" />
                <span class="right">ETH</span>
            </div>
            <p class="error" [ngClass]="{'hidden':!(submited && (price.invalid || eth.invalid))}">
                <span *ngIf="price.errors?.required">This field is required</span>
                <span *ngIf="!price.errors?.required">The minimum order is 0.001</span>
            </p>
        </div>
        <div class="clear half left">
            <label class="title" for="total">Total</label>
            <p class="input">{{f.total | number:'1.3-3':'en'}}</p>
            <input type="hidden" name="total" [customMin]="0.001" [(ngModel)]="f.total" required ngModel #eth="ngModel" />
        </div>
        <div class="half right">
            <label class="title" for="expires">Expires</label>
            <div class="input-container" [ngClass]="{'error': expires.invalid && submited}">
                <input type="number" [customMin]="1" placeholder="0.000" step="any" name="expires" [(ngModel)]="f.expires" required ngModel #expires="ngModel" />
                <span class="right">Blocks</span>
            </div>
            <p class="error" [ngClass]="{'hidden':!(submited && expires.invalid)}">
                <span *ngIf="expires.errors?.required">This field is required</span>
            </p>
        </div>
        <p *ngIf="buyInCross != ''" class="clear dist">{{buyInCross}}</p>
        <button type="submit" class="dist block" [ngClass]="(action=='buy')? 'btn-inverse' : 'btn warning'">{{action | titlecase}} order</button>
    </div>
</form>
<form (ngSubmit)="onSubmit(form)" #form="ngForm" class="clear dist" *ngIf="_zeroEx.display == 'weth'">
    <div class="dist">
        <div class="half left">
            <label class="title" for="amount">Amount to {{action}}</label>
            <div class="input-container" [ngClass]="{'error': submited  && (amount.invalid || eth.invalid)}">
                <input type="number" [placeholder]="0.+('0').repeat(_zeroEx.token.assetDataA.decimals)" step="any" name="amount" (input)="total()" [(ngModel)]="f.amount" ngModel required #amount="ngModel" />
                <span class="right">{{_zeroEx.token.assetDataA.name}}</span>
            </div>
            <p class="error" [ngClass]="{'hidden':!(submited && (amount.invalid || eth.invalid))}">
                <span *ngIf="amount.errors?.required">This field is required</span>
                <span *ngIf="!amount.errors?.required && eth.errors?.customMin">The minimum order is {{minAmount | number:"1.18-18":"en"}}</span>
                <span *ngIf="balanceError != ''" class="block">{{balanceError}}</span>

            </p>
        </div>
        <div class="half right">
            <label class="title" for="price">Price</label>
            <div class="input-container" [ngClass]="{'error': submited && (price.invalid || eth.invalid) }">
                <input type="number" value="{{_LSCXmarket.lastPrice}}" step="any" name="price" (input)="total()" [(ngModel)]="f.price" ngModel required #price="ngModel" />
                <span class="right">{{_zeroEx.token.assetDataB.name}}</span>
            </div>
            <p class="error" [ngClass]="{'hidden':!(submited && (price.invalid || eth.invalid))}">
                <span *ngIf="price.errors?.required">This field is required</span>
                <span *ngIf="!price.errors?.required">The minimum order is 0.001</span>
            </p>
        </div>
        <div class="clear half left">
            <label class="title" for="total">Total</label>
            <p class="input">{{f.total | number:'1.3-20':'en'}}</p>
            <input type="hidden" name="total" [customMin]="minAmount" [(ngModel)]="f.total" required ngModel #eth="ngModel" />
        </div>
        <div class="half right">
            <label class="title" for="expires">Expires</label>
            <div class="input-container" [ngClass]="{'error': expires.invalid && submited}">
                <input type="number" [customMin]="1" placeholder="0.000" step="any" name="expires" [(ngModel)]="f.expires" required ngModel #expires="ngModel" />
                <select class="inline select-container" name="type" [(ngModel)]="f.type" required ngModel #type="ngModel">
                        <option value="minutes" selected>Minutes</option>
                        <option value="hours">Hours</option>
                        <option value="days">Days</option>
                </select>
            </div>

            <p class="error" [ngClass]="{'hidden':!(submited && expires.invalid)}">
                <span *ngIf="expires.errors?.required">This field is required</span>
            </p>
        </div>
        <p *ngIf="buyInCross != ''" class="clear dist">{{buyInCross}}</p>
        <button type="submit" class="dist block" [ngClass]="(action=='buy')? 'btn-inverse' : 'btn warning'">{{action | titlecase}} order</button>
    </div>
</form>
<div class="market-message">
    <p *ngIf="_zeroEx.display == 'eth'">Make sure <a class="pointer" (click)="openExternal()">{{_LSCXmarket.token?.name}}</a> is the token you actually want to trade. Multiple tokens can share the same name.</p>
    <p *ngIf="_zeroEx.display == 'weth'">Make sure <a class="pointer" (click)="openExternal()">{{_zeroEx.token?.name}}</a> is the pair you actually want to trade. Multiple pairs can share the same name.</p>
</div>