<h1 style="text-align: right; font-weight: normal">Balance: ETH {{_account.account.balance | number:'1.2-5':'en'}} </h1>
<div class="radioDiv">
    <input type="radio" id="address" name="sendTo" value="address" [(ngModel)]="sendTo" />
    <label for="address" class="black"><span><span></span></span>Etherum address</label>
    <!--<ng-container *ngIf="_web3.network==1">
        <input type="radio" id="mobile" name="sendTo" value="mobile" [(ngModel)]="sendTo" />
        <label for="mobile" class="black"><span><span></span></span>Mobile phone</label>
    </ng-container>
    <input type="radio" id="email" name="sendTo" value="email" [(ngModel)]="sendTo" />
    <label for="email" class="black"><span><span></span></span>Email</label>-->
</div>
<form (ngSubmit)="sendEth(form)" #form="ngForm">
    <div *ngIf="sendTo == 'address'">
        <label class="title" for="receiverAddr">Receiver address</label>
        <input class="block" [ngClass]="{'error': submited && receiverAddr.invalid}" required invalidAddress id="receiverAddr" type="text" value="" name="receiverAddr" ngModel #receiverAddr="ngModel" />
        <p [ngClass]="{'hidden':!(submited && receiverAddr.invalid)}" class="error">
            <span *ngIf="receiverAddr.errors?.required" class="error">This field is required</span>
            <span *ngIf="!receiverAddr.errors?.required && receiverAddr.errors?.invalidAddress" class="error">Invalid receiver address</span>
        </p>
    </div>
    <!--<div *ngIf="sendTo == 'mobile'" >
        <label class="title" for="receiverMobile">Receiver mobile</label>
        <div class="flex-row">
            <div class="inline">
                <div class="input" (click)="toggleShow()">
                    <p class="flex-row prefix-select"><img class="flag" [src]="'assets/icons/flags/'+country.flag"><span class="flex1 text-overflow-ellipsis"> {{country.name}} </span><span class="grey">(+{{country.dial_code}})</span><img class="right" src="~icons/select_icon.svg"></p>
                </div>
                <dropdown-prefixes *ngIf="showPrefixes" [countries]="countries" (update)="onSelectCountry($event)" ></dropdown-prefixes>
                <input type="hidden" name="prefix" [(ngModel)]="country" ngModel #prefix="ngModel">
            </div>
            <div class="flex1 extra">
                <input class="block" type="tel" pattern="[0-9]{4,14}" [ngClass]="{'error': submited && receiverMobile.invalid}" required invalidphone id="receiverMobile"  value="" name="receiverMobile" ngModel #receiverMobile="ngModel" />
                <p [ngClass]="{'hidden':!(submited && receiverMobile.invalid)}"  class="error">
                    <span *ngIf="receiverMobile.errors?.required" class="error">This field is required</span>
                    <span *ngIf="!receiverMobile.errors?.required && receiverMobile.errors?.pattern" class="error">Invalid receiver phone</span>
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="sendTo == 'email'">
        <label class="title" for="receiverEmail">Receiver email</label>
        <input class="block" [ngClass]="{'error': submited && receiverEmail.invalid}" required email id="receiverEmail" type="email" value="" name="receiverEmail" ngModel #receiverEmail="ngModel" />
         <p [ngClass]="{'hidden':!(submited && receiverEmail.invalid)}"  class="error">
            <span *ngIf="receiverEmail.errors?.required" class="error">This field is required</span>
           <span *ngIf="!receiverEmail.errors?.required && receiverEmail.errors?.email" class="error">Invalid receiver email</span>
        </p>
    </div>-->
    <div class="clear">
        <label class="title" for="amount">Ether amount</label>
        <input type="number" class="block" step="any" [customMin]="0" value="0" [funds]="_account.account.balance" name="amount" [ngClass]="{'error': submited && amount.invalid}" ngModel required #amount="ngModel" />
        <p [ngClass]="{'hidden':!(submited && amount.invalid)}" class="error">
            <span *ngIf="amount.errors?.required" class="error">This field is required</span>
            <span *ngIf="!amount.errors?.required && amount.errors?.customMin " class="error">Can not send negative amounts of ETH</span>
            <span *ngIf="!amount.errors?.required && !amount.errors?.customMin && amount.errors?.notFunds" class="error">You don't have enough funds</span>
        </p>
    </div>
    <div>
        <button type="submit" class="btn-solid right"> Send </button>
    </div>

    <div class="clear">
        <label class="title" for="trans_data">Transaction data (optional)</label>
        <input class="block" id="trans_data" type="text" value="" name="trans_data" placeholder="e.g. Market supplys payment" ngModel #trans_data="ngModel" />
    </div>
</form>
<!--<div>
    <label class="title" for="lang">Terms of use</label>
    <div class="scroll scrollbar settings auto-h" id="sendings-bottom"></div>
</div>-->