<div *ngIf="pendingTx else serviceStatus">
    <div *ngIf="pendingTx == true" class="cardValues backWhite">
        <p class="title">General status: <span>{{checkResponseStatus}}</span></p>
        <p class="title">Pay IN status: <span>{{checkResponseIn}}</span></p>
        <p class="title">Pay OUT status: <span>{{checkResponseOut}}</span></p>
    </div>
    <div *ngIf="checkResponseIn == 'expired'" class="cardValues">
        <span class="block">
            <img src="~icons/error_icon.svg">
            <h1 class="title red inline">{{txtResponseIn}}</h1>
        </span>
        <button type="button" name="button" class="btn-black" (click)="backPendingTx()">Back</button>
    </div>
    <div *ngIf="successTx == true" class="cardValues">
        <span class="block">
            <img src="~icons/correct_icon.svg">
            <h1 class="title inline">{{txtResponseIn}}</h1>
        </span>
        <small class="grey block">* Remember that this action may take up <span class="red bold">72 hours</span>.</small>
        <button type="button" name="button" class="btn-inverse" (click)="backPendingTx()">Continue</button>
    </div>
    <p class="title issues text-right terms">
        <span class="terms2">
                Powered by: 
        </span>
        <span class="pointer" (click)="openUrl('https://chip-chap.com/')"><img class="bottom" src="~images/logo_chipchap-1.png" width="80px"></span>
        <span class="bold lscx_color pointer text-right terms2" (click)="openUrl('https://chip-chap.com/legal.html')"> Terms and conditions. </span>
    </p>
</div>
<ng-template #serviceStatus>
    <div *ngIf="serviceStatus else down">
        <div *ngIf="inputData else detailTx" class="cardValues backWhite">
            <div>
                <label for="Amount" class="title">Amount to withdraw in €:</label>
                <input type="number" name="Amount" id="Amount" placeholder="€" [(ngModel)]="inputAmount" (input)="checkChange(inputAmount)">
                <span *ngIf="inputAmountErr" id="amountInputErr" class="errorTxt">{{inputAmountErr}}</span>
            </div>
            <div [ngClass]="{'hidden':!(inputAmount != null)}">
                <label for="expected" class="title expected">Aprox. value in ETH:</label>
                <input class="displayInput expected" type="text" name="expected" id="expected" value="{{inputExpectedAmount}}" disabled>
            </div>
            <div>
                <label for="CardId" class="title">Spark card ID number:</label>
                <input pattern=".{16,16}" type="number" name="CardId" id="CardId" placeholder="CardId" [(ngModel)]="inputCardId">
                <span *ngIf="inputCardIdErr" id="cardInputErr" class="errorTxt">{{inputCardIdErr}}</span>
            </div>
            <small class="red block bold">* This action may take up 72 hours.</small>
            <button type="button" name="button" class="btn-inverse" (click)="chipchapSwift()">Change!</button>

        </div>
        <!--
        <p *ngIf="orderCard==null" class="issues text-left left terms2">
            Order your <span class="bold pointer lscx_color" (click)="orderCards()">Spark Mastercard</span>
        </p>
        -->



        <p *ngIf="orderCard==null" class="title issues text-right terms">
            <span class="terms2">
                        Powered by: 
                </span>
            <span class="pointer" (click)="openUrl('https://chip-chap.com/')"><img class="bottom" src="~images/logo_chipchap-1.png" width="80px"></span>
            <span class="bold lscx_color pointer text-right terms2" (click)="openUrl('https://chip-chap.com/legal.html')"> Terms and conditions. </span>
        </p>
    </div>
    <div *ngIf="orderCard==true" class="content scrollable-content flex-inside">
        <orderCard></orderCard>
        <div id="marginBott">
            <button type="button" name="button" class="btn-black" (click)="cardBack()">Back</button>
        </div>

    </div>
</ng-template>

<ng-template #detailTx>
    <div *ngIf="detailTx == true">
        <div class="backWhite cardValues displayInput">
            <h1 class="">Transaction detail:</h1>
            <div>
                <span class="title ">Spark Card Receiver Number:</span>
                <p class="">{{fiatReceiver}}</p>
            </div>
            <div>
                <span class="title ">From:</span>
                <p class="">{{selfAccount}}</p>
            </div>
            <div>
                <span class="title ">To:</span>
                <p class="">{{ethAddr}}</p>
            </div>
            <div>
                <span class="title ">Amount:</span>
                <p class="">{{amountEth}} ETH</p>
            </div>
            <div>
                <span class="title ">Send before of:</span>
                <p class="">{{timeLeft/60}} min</p>
            </div>
        </div>
        <button type="button" name="button" class="btn-black" (click)="back()">Back</button>
        <button type="button" name="button" class="btn-inverse" (click)="sendEth(ethAddr, amountEth)">Confirm</button>
        <p class="title issues text-right terms">
            <span class="terms2">
                    Powered by: 
            </span>
            <span class="pointer" (click)="openUrl('https://chip-chap.com/')"><img class="bottom" src="~images/logo_chipchap-1.png" width="80px"></span>
            <span class="bold lscx_color pointer text-right terms2" (click)="openUrl('https://chip-chap.com/legal.html')"> Terms and conditions. </span>
        </p>
    </div>
</ng-template>

<ng-template #down>
    <div class="backWhite">
        <h1 class="red text-center">Service not available</h1>
    </div>
    <p class="title issues text-right terms">
        <span class="terms2">
                    Powered by: 
            </span>
        <span class="pointer" (click)="openUrl('https://chip-chap.com/')"><img class="bottom" src="~images/logo_chipchap-1.png" width="80px"></span>
        <span class="bold lscx_color pointer text-right terms2" (click)="openUrl('https://chip-chap.com/legal.html')"> Terms and conditions. </span>
    </p>
</ng-template>

<ng-template #success>
    <div class="backWhite">
        <h1 class="green text-center">Recharge successful</h1>
    </div>
    <p class="title issues text-right terms">
        <span class="terms2">
                    Powered by: 
            </span>
        <span class="pointer" (click)="openUrl('https://chip-chap.com/')"><img class="bottom" src="~images/logo_chipchap-1.png" width="80px"></span>
        <span class="bold lscx_color pointer text-right terms2" (click)="openUrl('https://chip-chap.com/legal.html')"> Terms and conditions. </span>
    </p>
</ng-template>