<div id="hist-market" class="scroll scrollbar auto-h">
    <table *ngIf="action=='myTrades'"class="history-table" >
        <thead>
            <tr>
                <th>Transaction</th>
                <th>Type</th>
                <th>{{_market.token.name}}</th>
                <th>ETH</th>
                <th>{{_market.token.name}}/ETH</th>
            </tr>
        </thead>
        <tr *ngIf="history.length == 0"><td colspan="5" class="collapse">There are no trades here</td></tr>
        <tbody *ngFor="let trade of history, index as i" >
            <tr>
                <td class="pointer" (click)="openExternal(trade.txHash)">{{trade.txHash}}</td>
                <td *ngIf="trade.buyer.toLowerCase() == address.toLowerCase()"><p class="green">Buy Order</p></td>
                <td *ngIf="trade.seller.toLowerCase() == address.toLowerCase()"><p class="red">Sell Order</p></td>
                <td>{{trade.amount}}</td>
                <td>{{trade.amountBase}}</td>
                <td>{{trade.price}}</td>
            </tr>
        </tbody>   
    </table>
    <table *ngIf="action=='myOrders'" class="history-table" >
        <thead>
            <tr>
                <th>{{_market.token.name}}/ETH</th>
                <th>Available volume</th>
                <th>Expires in</th>
                <!--<th>Cancel</th>-->
            </tr>
        </thead>
        <tr *ngIf="history.length == 0"><td colspan="3" class="collapse">There are no orders here</td></tr>
        <tbody *ngFor="let order of history, index as i" >
            <tr>
                <td>{{order.price.toString() | number:"1.8-8":"en"}}</td>
                <td>{{order.ethAvailableVolume| number:"1.8-8":"en"}}/{{order.amount | number:"1.8-8":"en"}}</td>
                <td *ngIf ="blockNumber != null">{{order.expires-blockNumber}}</td>
                <td *ngIf ="blockNumber == null" class="red">Not available</td>
                <!--<td><a (click)="cancelOrder(order)">Cancel</a></td>-->
            </tr>
        </tbody>       
    </table>
    <table *ngIf="action=='myFunds'" class="history-table" >
        <thead>
            <tr>
                <th>Transaction</th>
                <th>Type</th>
                <th>{{_market.token.name}}</th>
                <th>ETH</th>
            </tr>   
        </thead>
        <tr *ngIf="history.length == 0"><td colspan="4" class="collapse">There are no funds</td></tr>
        <tbody *ngFor="let fund of history, index as i" >
            <tr>
                <td class="pointer" (click)="openExternal(fund.txHash)">{{fund.txHash}}</td>
                <td><p>{{fund.kind| titlecase}}</p></td>
                <td><p *ngIf="fund.tokenAddr != '0x0000000000000000000000000000000000000000'">{{fund.amount}}</p></td>
                <td><p *ngIf="fund.tokenAddr == '0x0000000000000000000000000000000000000000'">{{fund.amount}}</p></td>
            </tr>
        </tbody>   
    </table>
</div>

<app-paginator *ngIf="page>1"(goPage)="goToPage($event)" [currentPage]="page" [perPage]="limit" [count]="totalPages"></app-paginator>