<div id="hist-market" class="scroll scrollbar auto-h">

    <table *ngIf="action=='myTrades'" class="history-table">
        <thead>
            <tr>
                <th>Transaction</th>
                <th>Type</th>
                <th>{{_LSCXmarket.token.name}}</th>
                <th>ETH</th>
                <th>{{_LSCXmarket.token.name}}/ETH</th>
            </tr>
        </thead>
        <tr *ngIf="history.length == 0">
            <td colspan="5" class="collapse">There are no trades here</td>
        </tr>
        <tbody *ngFor="let trade of history, index as i">
            <tr>
                <td class="pointer" (click)="openExternal(trade.txHash)">{{trade.txHash}}</td>
                <td *ngIf="trade.side == 'buy'">
                    <p class="green">Buy Order</p>
                </td>
                <td *ngIf="trade.side == 'sell'">
                    <p class="red">Sell Order</p>
                </td>
                <td>{{trade.amount | number:"1.0-8":"en"}}</td>
                <td>{{trade.amountBase | number:"1.0-8":"en"}}</td>
                <td>{{trade.price | number:"1.0-8":"en"}}</td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="action=='myOrders'" class="history-table inline">
        <thead>
            <tr>
                <td class="red bold">SELL ORDERS</td>
            </tr>
            <tr>
                <th>{{_LSCXmarket.token.name}}/ETH</th>
                <th>Available volume</th>
                <th>Expires in</th>
            </tr>
        </thead>
        <tr *ngIf="_LSCXmarket.state.orders.sells == 0">
            <td colspan="3" class="collapse">There are no orders here</td>
        </tr>
        <tbody *ngIf="_LSCXmarket.state.orders.sells != 0">

            <tr *ngFor="let order of _LSCXmarket.state.orders.sells, index as i">
                <td>
                    <p *ngIf="blockNumber <= order.expires" class="red">{{order.price | number:"1.4-8":"en"}}</p>
                </td>
                <td>
                    <p *ngIf="blockNumber <= order.expires">
                        {{order.amount*order.price -order.available | number:"1.8-8":"en"}} ETH / {{order.amountBase | number:"1.8-8":"en"}} ETH
                    </p>
                </td>
                <td *ngIf="blockNumber != null">
                    <p *ngIf="blockNumber <= order.expires">{{order.expires-blockNumber}}</p>
                </td>
                <td *ngIf="blockNumber == null" class="red">Not available</td>

            </tr>

        </tbody>
    </table>
    <div class="extra inline">
    </div>
    <table *ngIf="action=='myOrders'" class="history-table inline">
        <thead>
            <tr>
                <td class="green bold">BUY ORDERS</td>
            </tr>
            <tr>
                <th>{{_LSCXmarket.token.name}}/ETH</th>
                <th>Available volume</th>
                <th>Expires in</th>
            </tr>
        </thead>
        <tbody *ngIf="_LSCXmarket.state.orders.buys == 0">
            <tr>
                <td colspan="3" class="collapse">There are no orders here</td>
            </tr>
        </tbody>

        <tbody *ngIf="_LSCXmarket.state.orders.sells != 0">
            <tr *ngFor="let order of _LSCXmarket.state.orders.reverseBuys, index as i">
                <td>
                    <p *ngIf="blockNumber <= order.expires" class="green">{{order.price | number:"1.4-8":"en"}}</p>
                </td>
                <td>
                    <p *ngIf="blockNumber <= order.expires">
                        {{order.amount -order.available | number:"1.8-8":"en"}} {{_LSCXmarket.token.name}} / {{order.amount | number:"1.8-8":"en"}} {{_LSCXmarket.token.name}}
                    </p>
                </td>
                <td *ngIf="blockNumber != null">
                    <p *ngIf="blockNumber <= order.expires">
                        {{order.expires-blockNumber}}
                    </p>
                </td>
                <td *ngIf="blockNumber == null" class="red">Not available</td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="action=='myFunds'" class="history-table">
        <thead>
            <tr>
                <th>Transaction</th>
                <th>Type</th>
                <th>{{_LSCXmarket.token.name}}</th>
                <th>ETH</th>
            </tr>
        </thead>
        <tr *ngIf="history.length == 0">
            <td colspan="4" class="collapse">There are no funds</td>
        </tr>
        <tbody *ngFor="let fund of history, index as i">
            <tr>
                <td class="pointer" (click)="openExternal(fund.txHash)">{{fund.txHash}}</td>
                <td>
                    <p>{{fund.kind| titlecase}}</p>
                </td>
                <td>
                    <p *ngIf="fund.tokenAddr != '0x0000000000000000000000000000000000000000'">{{fund.amount}}</p>
                </td>
                <td>
                    <p *ngIf="fund.tokenAddr == '0x0000000000000000000000000000000000000000'">{{fund.amount}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-paginator *ngIf="page>1" (goPage)="goToPage($event)" [currentPage]="page" [perPage]="limit" [count]="totalPages"></app-paginator>