/************************ FONTS ************************/

@font-face {
    font-family: "Lato-Regular";
    src: url("./Lato/Lato-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Lato-Bold";
    src: url("./Lato/Lato-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Lato-Italic";
    src: url("./Lato/Lato-Italic.ttf") format('truetype');
}


/************************* GENERAL ************************/

* {
    padding: 0;
    margin: 0;
    font-size: 10pt;
    font-family: "Lato-Regular", sans-serif;
    color: #000;
    box-sizing: border-box;
}

html,
body {
    overflow-y: hidden;
    max-height: 100%;
}

h1 {
    font-family: "Lato-Regular";
    font-size: 14pt;
    font-weight: bold;
    padding-bottom: 10px;
}

h2 {
    font-family: "Lato-Bold";
    font-size: 12pt;
}

button {
    cursor: pointer;
}

.even {
    background-color: #fff;
}

.odd {
    background-color: #e2e2e2
}

.block {
    display: block;
    width: 100%;
}

.title {
    padding-left: 15px;
    font-family: "Lato-Bold"
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.inline {
    display: inline;
}

.inlineBlock {
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.hidden {
    visibility: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-inside {
    flex-grow: 1;
    display: flex;
}

.flex1 {
    flex-grow: 1;
    flex-basis: 0;
}

.dist {
    margin-top: 25px;
}

.half {
    width: 46%;
}

.half div {
    display: inline-block;
}

.round {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.green {
    color: #4cc44c
}

.red {
    color: #E66978
}

.border-red {
    border: 1px solid #E66978;
}

.grey {
    color: #3C4247;
}

.lightGrey {
    color: #62676b;
}

.yellow {
    color: #ffc107;
}

.italic {
    font-family: 'Lato-Italic';
    font-size: 9pt;
}

.black {
    color: black;
    font-family: 'Lato-Bold';
    padding: 5px 0;
}

.bold {
    font-family: 'Lato-Bold';
}


/************************* DIALOGS *************************/

.mat-dialog-container {
    position: relative;
    border-top: 10px solid #30D67F;
    border-radius: 8px;
    background-color: #f8f8f8;
    padding: 15px 35px !important;
}

.mat-dialog-conatiner .half {
    width: 49%;
}

.margin-bottom-dialog {
    margin-bottom: 70px;
}

.mat-dialog-container .buttons {
    position: absolute;
    bottom: 20px;
    width: 590px;
}

.margin {
    margin: 15px;
}

.title-button-navbar {
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/************************* HEADER *************************/

header {
    height: 73px;
    min-height: 73px;
    background-color: #272D33;
    z-index: 2;
    position: relative;
}

header>img {
    max-height: 30px;
    margin: 25px 0 0 25px;
}

#network-select {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 220px;
    height: 30px;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.1)
}

#network-select p {
    color: #888;
    padding: 6px 15px;
}

#network-select .select-list {
    top: 29px;
    left: 0;
}

#network-select .select-list>p {
    margin: 10px;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.circle-blue {
    background-color: #4A90E2;
}

.circle-red {
    background-color: #E66978;
}


/************************* SIDE NAV *************************/

.sidenav {
    /*border-top: 7px solid #fff;*/
    display: inline-block;
    min-width: 250px;
    max-width: 250px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
}

.bottomR {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.bottomL {
    position: fixed;
    bottom: 30px;
    float: left;
    /*left: 330px;*/
}

.main-content {
    flex-grow: 1;
    background-color: #f8f8f8;
    overflow: hidden;
}


/************************* TOP NAV *************************/

nav {
    margin-bottom: 50px;
}

nav a {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    height: 50px;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

nav a p,
a.pending,
a.pending span,
.italic {
    color: #abb0b2;
}

.top-nav-img {
    width: 20px;
    width: 20px
}

nav a,
nav a:focus {
    border-top: 7px solid #fff;
}

nav a.active {
    border-top: 7px solid #30D67F;
}

nav a.active p {
    color: #000;
}

nav a div {
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    bottom: 0;
    width: 100%;
}

nav a span {
    padding-bottom: 8px;
    height: 15px;
    display: block;
    width: 100%;
}


/*-------------------- CONTENT ----------------------------*/

.content {
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.list {
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 30px;
    overflow: hidden;
}

.list li {
    overflow: hidden;
    clear: both;
    padding: 12px;
}

.list li a {
    text-decoration: none;
}

.info-list {
    overflow: hidden;
    list-style-type: none;
}

.info-list li {
    padding: 3px 0;
}

.prefix-select {
    width: 200px;
}

.flag {
    width: 20px;
    max-height: 15px;
    margin-right: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.flag+span {
    max-width: 100px;
}

.prefix {
    width: 50px;
}

#flag-list {
    margin-top: -21px;
}

.lscx_color {
    color: #30D67F;
}

.settings {
    overflow: hidden;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #abb0b2;
    margin-top: 10px;
    background-color: #fff;
}

#show-address {
    position: relative;
}

#show-address div:nth-child(2) {
    position: absolute;
    left: 235px;
    top: 35px;
}

#show-address div p:nth-child(2) {
    color: #abb0b2
}

.issues {
    bottom: 0;
    position: absolute;
    margin-bottom: 1rem;
}

.backWhite {
    overflow: hidden;
    padding: 20px;
}

.whiteBox,
.whiteBox-extra {
    border: none;
    margin-bottom: 10px;
    overflow: hidden;
}

.whiteBox-extra {
    padding: 20px
}

.contractDetail {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.contractDetail img {
    align-items: bottom !important;
}

#contract-response {
    border: none;
    background-color: #eaeaea;
    padding-left: 12px;
}

.import-contract-right {
    width: 30%;
    position: relative;
}

.import-contract-right button {
    position: absolute;
    bottom: 34px;
    right: 0;
    width: 95%;
}

.best-prices p {
    margin-top: 30px;
}


/**************************** FORMS ****************************/

input,
textarea,
div.input-container,
.input,
.whiteBox,
.whiteBox-extra,
.backWhite,
select {
    padding: 14px 12px;
    border-radius: 5px;
    border: 1px solid #abb0b2;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

input[type="checkbox"] {
    height: auto;
    margin: 0 12px;
}

input,
div.input-container,
.input,
.whiteBox {
    height: 44px;
}

.input-container span,
.input-container p {
    padding: 14px 12px 14px 0;
    cursor: pointer;
}

textarea {
    resize: none;
}

div.input-container {
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

.select-container {
    padding: 10px 12px;
    border: none;
    background-color: #fff;
    margin: 0;
}

.input-container input {
    flex-grow: 1;
    margin: 0;
    border: none;
    z-index: 2;
    background-color: transparent;
}

input.error,
input.error:focus,
textarea.error,
textarea.error:focus,
div.error,
div.error:focus {
    border: 1px solid #E66978;
}

p.error,
p.error span {
    color: #E66978;
    font-size: 9pt;
}

p.error {
    margin-top: -10px;
    margin-bottom: 10px;
    min-height: 11pt;
    text-align: right;
}

:focus {
    outline: none;
}

#resized {
    display: block;
}

#zeros {
    position: absolute;
    z-index: 1;
    cursor: none;
}

#zeros span:nth-child(2) {
    margin-left: -1px;
}


/**************************** BUTTONS ****************************/

.btn,
.btn-solid,
.btn-black,
.btn-inverse {
    height: 44px;
    padding: 0 40px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Lato-Bold";
    font-size: 11pt;
}

.btn-solid,
.btn-contract,
.btn-contract-black {
    background-color: #30D67F;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
}

.btn-inverse {
    border: 2px solid#30D67F;
    background-color: transparent;
    color: #30D67F;
    text-decoration: none;
}

.btn-inverse:hover {
    background-color: #30D67F;
    color: #fff;
}

.btn-solid:hover {
    background-color: #79f479;
}

.btn-black,
.btn-contract-black {
    color: #272d33;
    border: 2px solid black;
    background-color: transparent;
    text-decoration: none;
}

.btn-solid-black {
    height: 44px;
    padding: 0 40px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Lato-Bold";
    font-size: 11pt;
    color: #ffffff;
    border: 2px solid transparent;
    background-color: #000000;
    text-decoration: none;
}

.btn-solid-black:hover {
    background-color: #272d33;
}

.btn-black:hover,
.btn-contract-black:hover {
    color: #fff;
    background-color: black;
}

.btn-small {
    border: none;
    background-color: #30D67F;
    padding: 5px;
    color: #fff;
    margin-right: 5px;
    margin-top: 10px;
}

.btn-contract,
.btn-contract-delete,
.btn-contract-black {
    padding: 5px;
    border-radius: 5px;
    font-family: "Lato-Bold";
}

.extra {
    margin-left: 20px;
}

.warning,
.btn-contract-delete {
    border: 2px solid #E66978;
    color: #E66978;
    background: none;
}

.warning:focus,
.warning:hover,
.error-founds,
.btn-contract-delete:hover {
    color: white;
    background-color: #E66978;
    border: none;
}

.btn-contract-delete:hover {
    border: 2px solid #E66978;
}


/*********************** CONTRACTS PAGES *************************/

.contract-list .btn-contract-delete {
    margin-top: 5px;
}

.custom-contract p {
    padding: 5px;
}

.custom-contract button {
    width: 70px;
}

.contract-list {
    position: relative;
}

.contract-list *,
.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contract-list div:nth-child(2) {
    position: absolute;
    left: 90px;
    right: 100px;
}

.contract-list div:nth-child(3) {
    width: 70px;
    float: right;
}

.contract-list-title {
    margin-top: 3px;
    font-family: "Lato-Bold";
    font-size: 14pt;
}

.contract-list-add-market {
    margin-left: 49px;
    font-family: "Lato-Bold";
    margin-top: 12px;
    margin-bottom: 20px;
}

.select-contract-icon {
    margin-right: 15px;
    height: 70px;
}

.contract-show-icon {
    height: 50px;
}

.contract-list-title,
.contract-list-name,
{
    font-family: "Lato-Bold";
    padding-left: 15px;
}

.contract-list-addr {
    font-family: "Lato-Bold";
    color: grey;
}

.contract-list-disabled * {
    cursor: not-allowed;
    opacity: 0.5
}


/************************ SCROLLS *****************************/

.auto-h {
    position: fixed;
    bottom: 50px;
    top: 220px;
    left: 270px;
    right: 15px;
}

.auto-h-sett {
    position: fixed;
    bottom: 100px;
    top: 220px;
    left: 270px;
    right: 15px;
}

#hist-market {
    top: 300px;
}

#general-token-list {
    top: 270px;
}

#sendings-bottom {
    top: 605px;
}

.scroll {
    overflow-y: scroll;
    padding-right: 10px;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #000;
}

.scrollbar::-webkit-scrollbar {
    margin: -15px;
}

.scrollable-content {
    height: 100%;
    overflow-y: scroll;
}

.scrollable-content::-webkit-scrollbar {
    display: none;
}

.sort {
    margin-left: 27px;
    margin-top: 5px;
}

.sort p {
    padding: 20px 10px;
}

.low-opacity {
    opacity: 0.3;
}

.sort span img:first-child {
    transform: rotate(180deg);
}


/********************** TERMS **********************/

#terms ol,
#terms ul {
    padding-left: 10px;
}

#terms div>ol {
    list-style-type: lower-alpha;
}

ol ol {
    list-style-type: decimal;
}

ol ol ol {
    list-style-type: lower-roman;
}

#terms {
    top: 310px;
    margin-right: 5px;
}

#terms p,
#terms li {
    line-height: 1.5em;
    padding: 10px 0;
}

.pointer {
    cursor: pointer;
}

#address {
    margin: 10px;
}

#copy {
    cursor: pointer;
    margin-left: 10px;
}


/********** CUSTOM RADIO BUTTON **********/

.radioDiv {
    margin: 10px 0 30px 0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    margin-right: 30px;
    cursor: pointer;
}

input[type="radio"]+label span {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
}

input[type="radio"]+label>span {
    box-shadow: 0 0 0 2px 0.5;
    width: 20px;
    height: 20px;
    margin: -1px 7px 0 0;
    background-color: white;
    text-align: center;
    border: 1px solid #abb0b2;
}

input[type="radio"]+label>span>span {
    width: 10px;
    height: 10px;
    background-color: #30D67F;
    margin-top: -1px;
    visibility: hidden;
    z-index: 2;
}

input[type="radio"]:checked+label>span>span {
    visibility: visible;
}


/************************** MARKET PAGES ****************************/

.market-token {
    position: relative;
    overflow: visible;
}

.market-token>p a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.select-list {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding-bottom: 10px;
    z-index: 10;
    max-height: 400px;
    overflow-y: auto;
}

.overlay {
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

#token-list {
    top: 15px;
    left: 50px;
}

.select-list>div:first-child {
    padding: 0 10px;
}

.select-list ul {
    list-style-type: none;
}

.select-list::-webkit-scrollbar-thumb {
    border-left: 1px solid #eee;
}

.select-list li,
.select-list p {
    padding: 5px 10px;
}

.select-list li:hover {
    background-color: #eee;
}

.select-list hr {
    margin-bottom: 5px;
}

.amount-table,
.history-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.history-expireSize {
    width: 70px;
}

.history-expireSize-weth {
    width: 90px;
}

.amount-table th,
.history-table th {
    border-bottom: 1px solid grey;
}

.amount-table th,
.amount-table td,
{
    padding: 5px 0;
}

.amount-table tr>*:first-child {
    text-align: left;
}

.amount-table tr>*:nth-child(2) {
    text-align: center;
}

.amount-table tr>*:nth-child(3) {
    text-align: right;
}

.history-table th,
td {
    text-align: left;
    padding: 10px 0;
}

.history-table tr>*:first-child {
    /*width: 40%;*/
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.history-table tr>*:nth-child(3),
.history-table tr>*:nth-child(4),
.history-table tr>*:nth-child(5) {
    text-align: right;
}

.market-action>div {
    width: 60%;
    padding-right: 10px;
}

.market-action button {
    width: 40%;
    margin-top: 26px;
}

.displayInput {
    border: none;
}

.errorTxt {
    color: #E66978;
    display: inline !important;
    padding-left: 15px;
}


/********** WALLET CARD TAB ****************/

.cardValues {
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.cardValues div span,
.cardValues div label {
    display: inline-block;
    width: 40%;
}

.cardValues div p {
    display: inline;
    padding-left: 15px;
}

.cardValues button {
    margin-top: 15px !important;
    margin-right: 15px !important;
    float: right;
}

.cardValues small {
    margin-left: 15px !important;
}

.cardValues img {
    margin: 0 auto;
}

#CardId {
    -moz-appearance: textfield;
}

#CardId::-webkit-outer-spin-button,
#CardId::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.expected {
    margin: 0;
    margin-top: -2rem;
    background-color: transparent;
}

.terms {
    right: 3%;
}

.terms2 {
    vertical-align: top;
}

topDist {
    margin-top: 20px;
}

.bottom {
    vertical-align: bottom;
    margin-top: -0.3rem;
}

#marginBott {
    margin-bottom: 100px
}

.width40 {
    width: 40%;
    margin-right: 9%;
    height: 100px;
}

.green-progress .mat-progress-bar-fill::after {
    background-color: #30D67F !important;
}

.green-progress .mat-progress-bar-buffer {
    background-color: #c0f2d8 !important;
}

.small {
    font-size: 8pt;
}

#messageAlert {
    margin-top: 30px;
}

.underline {
    text-decoration: underline;
}

.market-message {
    position: absolute;
    bottom: 15px;
}