<nav class="flex-row">

    <a routerLink="global" routerLinkActive="active" #global="routerLinkActive">
        <div>
            <span>
                <img class="top-nav-img" *ngIf="global.isActive" src='~icons/global_icon.svg'>
                <img class="top-nav-img" *ngIf="!global.isActive" src='~icons/global_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Global</p>
        </div>
    </a>

    <a routerLink="send" routerLinkActive="active" #send="routerLinkActive">
        <div>
            <span>
                <img class="top-nav-img" *ngIf="send.isActive" src='~icons/send_icon.svg'>
                 <img class="top-nav-img" *ngIf="!send.isActive" src='~icons/send_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Send</p>
        </div>
    </a>

    <a routerLink="receive" routerLinkActive="active" #rec="routerLinkActive">
        <div>
            <span>
                <img class="top-nav-img" *ngIf="rec.isActive" src='~icons/receive_icon.svg'>
                <img class="top-nav-img" *ngIf="!rec.isActive" src='~icons/receive_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Receive</p>
        </div>
    </a>
    <a routerLink="wsettings" routerLinkActive="active" #sett="routerLinkActive">
        <div>
            <span>
                <img class="top-nav-img" *ngIf="sett.isActive" src='~icons/walletsettings_icon.svg'>
                <img class="top-nav-img" *ngIf="!sett.isActive" src='~icons/walletsettings_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Account settings</p>
        </div>
    </a>
</nav>
<div class="content scrollable-content flex-inside" [ngStyle]="{'max-height.px': maxHeight()}">
    <p *ngIf="!_account.account?.address; else content" class="text-center">Select an ETH account</p>
    <ng-template #content>
        <router-outlet></router-outlet>
    </ng-template>
</div>