<nav class="flex-row">
    
    <a routerLink = "global" routerLinkActive="active" #global="routerLinkActive">
        <div>
            <span>
                <img *ngIf="global.isActive" src='~icons/global_icon.svg'>
                <img *ngIf="!global.isActive" src='~icons/global_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Global</p>
        </div>
    </a>  

    <a routerLink = "send" routerLinkActive="active" #send="routerLinkActive">
        <div>
            <span>
                <img *ngIf="send.isActive" src='~icons/send_icon.svg'>
                 <img *ngIf="!send.isActive" src='~icons/send_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Send</p>
        </div>
    </a>   
    
    <a routerLink = "receive" routerLinkActive="active" #rec="routerLinkActive">
        <div>
            <span>
                <img *ngIf="rec.isActive" src='~icons/receive_icon.svg'>
                <img *ngIf="!rec.isActive" src='~icons/receive_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Receive</p>
        </div>
    </a>
    
    <a routerLink = "wsettings" routerLinkActive="active" #sett="routerLinkActive">
        <div>
            <span>
                <img *ngIf="sett.isActive" src='~icons/walletsettings_icon.svg'>
                <img *ngIf="!sett.isActive" src='~icons/walletsettings_inactive_icon.svg'>
            </span>
            <p class="title-button-navbar">Account settings</p>
        </div>
    </a>
</nav>
<div class="content flex-inside">
  <p *ngIf="!_account.account?.address; else content" style="text-align: center">Select and account</p>
  <ng-template #content>
    <router-outlet></router-outlet>
  </ng-template>
</div>
  
