<div id="clear">
    <p class="backWhite border-red"><span class="bold">Attention:</span> decimal positions are not shown for this contract, inputs and outputs are not in token unit, but in weis (1 wei is the smallest possible bit of token).</p>
    <div>
        <div *ngIf="contractType=='LSCX'" class="left">
            <img class="left contract-show-icon" *ngIf="contractInfo.type=='LSCX_ABT'" src='~icons/LSCX_ABT.svg'>
            <img class="left contract-show-icon" *ngIf="contractInfo.type=='LSCX_CIF'" src='~icons/LSCX_CIF.svg'>
            <img class="left contract-show-icon" *ngIf="contractInfo.type=='LSCX_CYC'" src='~icons/LSCX_CYC.svg'>
            <img class="left contract-show-icon" *ngIf="contractInfo.type=='LSCX_ISC'" src='~icons/LSCX_ISC.svg'>
            <div class="left">
                <p class="contract-list-title">{{contractInfo.symbol}}-{{contractInfo.name}}</p>
                <p class="contract-list-name">{{contractInfo.address}}</p>
            </div>
        </div>
        <div *ngIf="contractType=='custom'" class="left">
            <p class="contract-list-title">{{contractInfo.name}}</p>
            <p class="contract-list-name">{{contractInfo.address}}</p>
        </div>
        <a class="right btn-contract" (click)="goBack()"><img src="~icons/left.svg"> Go back</a>
    </div>
    <ul class="info-list clear dist">
        <ng-container *ngIf="contractType=='LSCX'">
            <li *ngIf="contractInfo.type != 'LSCX_CYC'" class="half left clear">
                <p class="title">Total supply:</p>
                <p class="whiteBox">{{decimalsOutput(contractInfo.totalSupply) | number:'1.8-8'}}</p>
            </li>
            <li *ngIf="contractInfo.type == 'LSCX_CYC'" class="half left clear">
                <p class="title">Total supply:</p>
                <p class="whiteBox">{{decimalsOutput(contractInfo.totalSupply) | number:'1.18-18'}}</p>
            </li>
            <li class="half right">
                <p class="title">Standard:</p>
                <p class="whiteBox">{{contractInfo.standard}}</p>
            </li>
            <li class="half left clear">
                <p class="title">Decimals:</p>
                <p class="whiteBox">{{contractInfo.decimals}}</p>
            </li>
        </ng-container>
        <ng-container *ngIf="contractType=='custom'">
            <li *ngFor="let item of moreInfo, index as i" [ngClass]="(i+1)%2!=0 ? 'left clear' : 'right'" class="half">
                <p class="title">{{(item[0] | separateWords) | titlecase}}:</p>
                <p class="whiteBox">{{item[1]}}</p>
            </li>
        </ng-container>
        <ng-container *ngIf="contractType=='LSCX'">
            <li *ngFor="let item of moreInfo, index as i" [ngClass]="(i+1)%2!=0 ? 'right' : 'left clear'" class="half">
                <p class="title">{{(item[0] | separateWords) | titlecase}}:</p>
                <p class="whiteBox">{{item[1]}}</p>
            </li>
        </ng-container>
    </ul>
    <div class="dist">
        <h1 class="clear">Contract Functions</h1>
        <form id="functionForm" [formGroup]="functionForm" (ngSubmit)="onSubmit()">
            <select id="functionCtrl" class="block" formControlName="functionCtrl" name="functionCtrl" (change)="showFunction()">
                <option [ngValue]="null" disabled>Select a function</option>
                <option *ngFor="let function of functions" [ngValue]="function" [disabled]="function.onlyOwner && owner!=_account.account.address">
                    <p>{{(function.name | separateWords) | titlecase}} <span *ngIf="function.constant">(Read contract)</span><span *ngIf="!function.constant">(Write contract)</span></p>
                </option>
            </select>
            <div *ngIf="funct?.payable">
                <label class="title" for="ethAmount">Ethereum amount <span>*</span></label>
                <input formControlName="ethAmount" type="number" class="block" [ngClass]="{'error': submited && getControl('ethAmount').errors!= null}">
            </div>
            <ng-container *ngIf="funct?.inputs.length>0">
                <div *ngFor="let input of funct.inputs, index as i" [ngClass]="(i+1)%2==0 ? 'right' : 'left clear'" class="half">
                    <label class="title" for="{{input.name}}">{{(input.name | separateWords) | titlecase}} <span>- {{input.type}} *</span></label>
                    <input *ngIf="input.decimals != 'decimals'" formControlName="{{input.name}}" type="{{input.type2}}" class="block" [ngClass]="{'error': submited && getControl(input.name).errors!= null}">
                    <input *ngIf="input.decimals == 'decimals'" type="{{input.type2}}" id="resized" formControlName="{{input.name}}" class="block" placeholder="0.{{('0').repeat(contractInfo.decimals)}}" [ngClass]="{'error': submited && getControl(input.name).errors!= null}"
                    />
                </div>
            </ng-container>
            <div id="contract-response" class="input-container clear dist" *ngIf="submited && response != null">
                <p><span class="black">{{(funct?.name  | separateWords)| titlecase}}:</span> {{response}}</p>
            </div>
            <div *ngIf="function!={}" class="clear right">
                <button id="button" type="submit" class="btn-inverse">Submit</button>
            </div>
        </form>
    </div>
</div>