<div class="inputDiv">
    <label class="title" for="name">Account name</label>
    <input class="block" required id="name" type="text" value="{{_account.account.name}}" name="name" #name/>
</div>
<div>
    <label class="title" for="password">Password</label>
    <div class="input-container" [ngClass]="{'error': pass.invalid && (pass.dirty || pass.touched || submited )}">
        <input id="password" required type="password" value="" name="password" [(ngModel)]="password" #pass="ngModel" />
        <span class="right" (click)="showPassword()">{{message}}</span>
    </div>
    <div>
        <p class="error" [ngClass]="{'hidden': !(pass.errors?.required && (pass.dirty || pass.touched || submited ))}">Password required</p>
    </div>
</div>

<div class="inline right">
    <button type="button" class="btn-black" (click)="exportPrivateKey(password)">Export privatekey</button>
    <button type="button" class="btn-inverse extra" (click)="exportAccount(password)">Export keystore file</button>
</div>

<div class="clear bottomR">
    <button type="button" class="btn warning" (click)="deleteAccount()">Delete Account</button>
</div>